<!DOCTYPE html>
<html lang='en'>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <div class="container">
            <%- include('../partials/header'); %>
            <%- include('../partials/links'); %>
            <%- include('../partials/banner'); %> 
            <%- include('../partials/message'); %>       
            <div class="row mt-3">
                <div class="col-sm">
                    <!--Spacing--> 
                </div>
                <div class="col-sm-6">
                    Page  CONTENT Goes here
                </div>
                <div class="col-sm">
                    <!--Spacing--> 
                </div>
            </div>
        </div>
    </body>
</html>
