<div class="row mt-3">
    <div class="col-sm">
        <!--Spacing--> 
    </div>
    <div class="col-sm-6">
		<div class="card card-body text-center">
			<h1 class="text-center mb-3">Register</h1>
			<%- include ("../partials/messages"); %>
			<form action="userRegister" method="POST">
				<div class="form-group">
					<label for="nameFirst">First Name</label>
					<input
					type="name"
					id="nameFirst"
					name="nameFirst"
					class="form-control"
					placeholder="Enter First Name"
					value="<%= typeof nameFirst != 'undefined' ? nameFirst : '' %>"
					/>
				</div>
				<div class="form-group">
					<label for="nameLast">Last Name</label>
					<input
					type="name"
					id="nameLast"
					name="nameLast"
					class="form-control"
					placeholder="Enter Last Name"
					value="<%= typeof nameLast != 'undefined' ? nameLast : '' %>"
					/>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input
					type="email"
					id="email"
					name="email"
					class="form-control"
					placeholder="Enter Email"
					value="<%= typeof email != 'undefined' ? email : '' %>"
					/>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input
					type="password"
					id="password"
					name="password"
					class="form-control"
					placeholder="Create Password"
					value="<%= typeof password != 'undefined' ? password : '' %>"
					/>
				</div>
				<div class="form-group">
					<label for="password2">Confirm Password</label>
					<input
					type="password"
					id="password2"
					name="password2"
					class="form-control"
					placeholder="Confirm Password"
					value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
					/>
				</div>
				<button type="submit" class="btn btn-primary btn-block">
					Register
				</button>
				<a class="btn btn-secondary m-2" href="/">Back to home page</a>
			</form>
			<p class="lead">Have An Account?<br><a href="/partLogin">Parts Login</a><br><a href="/cardLogin">Legacy Login</a></p>
		</div>
    </div>
    <div class="col-sm">
        <!--Spacing--> 
    </div>
</div>
<script src="/static/scripts/jquery-3.3.1.slim.min.js"></script>
<script src="/static/scripts/popper.min.js"></script>
<script src="/static/scripts/bootstrap.min.js"></script>